{##
 # Avatax statuses page
 #}
{% if not this.isRecordTransactions() %}
	<div class="avatax-statuses-page">
		<div class="table-label">{{ t('The orders only with these status combinations will be Recorded to AvaTax') }}</div>
		<br>
		<div class="table-value">
			{{ widget('Iidev\\AvaTaxStatuses\\View\\ItemsList\\Model\\Statuses') }}
		</div>
	</div>
{% else %}
	<div class="warning">
		{{ t('Disable "Set transaction as Commited on order place" and "Record transactions into AvaTax on order place"') }} <a href="{{ this.getAvaTaxSetupUrl()|raw }}">Settings</a>
	</div>
{% endif %}
